*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'DotGothic16';
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 1vw;    
    width: 98vw;
    font-size:1.2rem;
}
.header div{
    transition: 0.3s ease;
    margin-right: 2vw;
}
.header div:hover{
    transform: scale(1.08);
}
.header2{
    display: flex;
    justify-content: space-evenly;
    gap: 1.5vw;
    cursor: pointer;
    font-size: 0.8em;
}
@media (max-width:500px){
    
    .header2{
        flex-direction: column;
    }
    
}
@media (max-width:200px){
    .header{
        flex-direction: column;
        align-items: flex-start;
    }
}
.line{
    border-bottom: 1px solid black;
    width: 100vw;
}
.main{
    margin-top: 4rem;
    padding: 2vw;
}
.main-header{
    text-align: center;
}
.main-header h1{
    margin-bottom: 2vw;
    font-size: 5em;
}
@media (max-width:500px){
    .main-header h1{
        font-size: 2em;
    }
}
@media (max-width:200px){
    .main-header h1{
        font-size: 1em;
    }
}
.main-header img{
    width: 100%;
    border-radius: 17px;
    margin-bottom: 5vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5vw;
}
@media (max-width:500px){
    .main-grid{
        display: flex;
        flex-direction: column;
    }
}
.flex{
    display: flex;
    flex-direction: column;    
}
.item{
    font-family: 'Archivo';
    margin-bottom: 4vw;
    transition: 0.3s ease;
    cursor: pointer;
}
.item:hover{
    transform: scale(1.05);
}
.item img{
    width: 100%;
    margin-bottom: 1vh;
}
.item h4{
    margin: 0 0 0.5vh 0;
    padding: 0;
    font-size: 0.8rem;
}
.item p{
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
}
.i1,.i5,.i9{
    height: 32vh;
    width: 41vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.i2,.i6,.i7{
    height: 23vh;
    width: 41vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.i3,.i4,.i8{
    height: 41vh;
    width: 41vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.i1:hover,.i2:hover,.i3:hover,.i4:hover,.i5:hover,.i6:hover,.i7:hover,.i8:hover,.i9:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.main-caption{
    width: 40vw;
    margin: 4vh 2vw; 
    font-size: 2em;
}
@media (max-width:500px){
    .main-caption{
        font-size: 1em;
    }
}

.main-footer{
    margin: 6vh 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 96vw;
    font-size: 20px;
}
@media (max-width:500px){
    .main-footer{
        display: flex;
        flex-direction: column;
    }
}
.footer1{
    font-size: 2em;
}

.footer2{
    display: flex;
    align-items: center;
    font-family: 'Archivo';
    font-size: 0.8em;
}
@media (max-width:500px){
    .footer1{
        font-size: 1em;
    }
    .footer2{
        font-size: 0.5em;
    }
}
.footer{
    margin: 10vh 4vw 13vh;
    text-align: center;
}
#form{
    font-family: 'Archivo';
    font-size: small;
}
.box{
    display: flex;
    justify-content: center;    
}
.footer-box{
    width: 1.2em;
    height: 2em;
    font-size: 0.9em;
    box-sizing: border-box;
    padding-left: 0.2em;
    font-family: 'Archivo';
    border: 1px solid black;
    border-radius: 5px;
    margin: 1vw;
}
@media (max-width:500px){
    .box{
        align-items: center;
        flex-direction: column;
    }
}
input[type='submit']{
    background-color:#2419F3;
    color: white;
    width: 25vw;
    border-radius: 8px;
    line-height: 1.5;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.3s ease;
}
input[type='submit']:hover{
    background-color: #0c079a;
}
#skip{
    font-family: 'Archivo';
    color:#2419F3;
    font-size: small;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
#skip:hover{
    background-color: #2419F3;
    color: white;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.page-footer{
    display: flex;
    justify-content: space-between;
    margin: 2vh 1vw 1vh 1vw;
    font-size: 0.8rem;
}
#follow{
    display: flex;
    align-items: center;
    font-family: 'Archivo';
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5vw;
    transition: 0.3s ease;
    cursor: pointer;

}
#follow:hover{
    background-color: #2419F3;
    color: white;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);    
}
@media (max-width:500px){
    .page-footer{
        flex-direction: column;
    }
    #follow{
        width: fit-content;
    }
}
